asgiref==3.2.3
attrs==19.3.0
beautifulsoup4==4.8.2
Click==7.0
Django==3.1.6
django-webtest==1.9.7
djangorestframework==3.11.0
dynaconf==2.2.2
more-itertools==8.1.0
packaging==20.0
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pytest==5.3.4
pytest-django==3.8.0
python-box==3.4.6
python-dotenv==0.10.3
pytz==2019.3
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
toml==0.10.0
waitress==1.4.2
wcwidth==0.1.8
WebOb==1.8.6
WebTest==2.0.33
